In [1]:
import pandas as pd
fruit_list = [ ('Orange', 34, 'Yes' ) ,
             ('Mango', 24, 'No' ) ,
             ('banana', 14, 'No' ) ,
             ('Apple', 44, 'Yes' ) ,
             ('Pineapple', 64, 'No') ,
             ('Kiwi', 84, 'Yes')  ]

df = pd.DataFrame(fruit_list, columns = ['Name' , 'Price', 'In_Stock']) 
grouped_df = df.groupby('In_Stock')
print(grouped_df)
print(type(grouped_df))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fc322eaff10>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [4]:
grouped_df.head()

        Name  Price In_Stock
0     Orange     34      Yes
1      Mango     24       No
2     banana     14       No
3      Apple     44      Yes
4  Pineapple     64       No
5       Kiwi     84      Yes

In [5]:
print(grouped_df.first())

            Name  Price
In_Stock
No         Mango     24
Yes       Orange     34

In [6]:
print(grouped_df.get_group('Yes'))

     Name  Price In_Stock
0  Orange     34      Yes
3   Apple     44      Yes
5    Kiwi     84      Yes

In [20]:
for nombre, datos in grouped_df:
    print (nombre)
    print (datos)

        Name  Price In_Stock
1      Mango     24       No
2     banana     14       No
4  Pineapple     64       No
     Name  Price In_Stock
0  Orange     34      Yes
3   Apple     44      Yes
5    Kiwi     84      Yes

In [9]:
fruit_list2 = [ ('Orange', 34, 'Yes' ,'ABC') ,
             ('Mango', 24, 'No','ABC' ) ,
             ('banana', 14, 'No','ABC' ) ,
             ('Apple', 44, 'Yes',"XYZ" ) ,
             ('Pineapple', 64, 'No',"XYZ") ,
             ('Kiwi', 84, 'Yes',"XYZ")  ]
df2 = pd.DataFrame(fruit_list2, columns = ['Name' , 'Price', 'In_Stock',"Supplier"]) 
grouped_df2 = df2.groupby(['In_Stock', 'Supplier']) 
  
print(grouped_df2.first())

                        Name  Price
In_Stock Supplier
No       ABC           Mango     24
         XYZ       Pineapple     64
Yes      ABC          Orange     34
         XYZ           Apple     44

In [10]:
print(grouped_df2.first().index)

MultiIndex([( 'No', 'ABC'),
            ( 'No', 'XYZ'),
            ('Yes', 'ABC'),
            ('Yes', 'XYZ')],
           names=['In_Stock', 'Supplier'])

In [23]:
grouped_df2<pa